#footer {
    background-color: #101D42;
    color: white;
    padding: 20px 0px 20px 0px;
    text-align: left;
}

h1 {
    Font-Family: 'Julius Sans One', Sans-Serif;
    Font-Size: 45px;
    text-align: center;
}

h2 {
    Font-Family: 'Julius Sans One', Sans-Serif;
    Font-Size: 30px;
    text-align: center;
}

h3 {
    Font-Family: 'Monda', Sans-Serif;
    Font-Size: 25px;
    text-decoration: underline;
    margin-top: 50px;
}

p {
    Font-Family: 'Monda', Sans-Serif;
    Font-Size: 16px;
}

#navbar {
    Font-Family: 'Monda', Sans-Serif;
    Font-Size: 16px;
    color:white;
    background-color: #101D42;
}

#navbar:hover {
    color:antiquewhite;
}

#resume {
    text-align: center;
}

body {
    background-color: #EDC7CF;
    text-align: center;
}

#topper {
    background-color: palevioletred;
    text-align: center;
    padding: 70px 0px 70px 0px;
}

#headshot {
    border:6px solid #EDC7CF;
    width: 45%;
    border-radius: 25%;
    margin-top: -50px;
}

button {
    text-align: center;
    background-color:palevioletred;
    color:#F0E6EF;
    Font-Family: 'Monda', Sans-Serif;
    font-weight: 500;
    text-transform:lowercase;
    width:150px;
    padding:10px;
    margin-top:20px;
    border:none;
    border-radius:8px;
}

button:hover {
    background-color:#B8BEDD;
}

a {
    color: aliceblue;
}