<<<<<<< HEAD
 h1 {
            background-color:black;
            color:white;
            font-family:arial;
            font-size:30px;
            text-align:center; 
=======
 h1 {
            background-color:black;
            color:white;
            font-family:arial;
            font-size:30px;
            text-align:center; 
>>>>>>> 242717dca4cf66556c00201b797a428d9baa550c
        }