<<<<<<< HEAD
.red-button {
    background-color:red;
    color:white;
    font-size:30px;
    border:none;
    width:200px;
=======
.red-button {
    background-color:red;
    color:white;
    font-size:30px;
    border:none;
    width:200px;
>>>>>>> ef33f2269212b896ff7b27439ffa27ed1f393eb3
}